@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	height: 100%;
	width: 100%;
}

.Collapsible {
	width: 100%;
}

.Collapsible__contentInner {
	border: 1px solid rgb(22 101 52);
}

.Collapsible__trigger {
	display: block;
	position: relative;
	padding: 10px;
	padding-right: 30px;
	background: rgb(22 101 52);
	color: white;

	&:after {
		content: "\02C5";
		position: absolute;
		right: 10px;
		top: 10px;
		display: block;
		transition: transform 300ms;
	}

	&.is-open {
		&:after {
			transform: rotateZ(180deg);
		}
	}

	&.is-disabled {
		opacity: 0.5;
		background-color: grey;
	}
}

.timeline {
	position: relative;
	padding-left: 30px; /* Space for the vertical line */
	list-style: none; /* Remove default list styling */
}

.timeline::before {
	content: "";
	position: absolute;
	top: 0;
	left: 10px; /* Position the vertical line */
	width: 2px; /* Line width */
	height: 100%; /* Full height of the ul */
	background-color: white; /* Line color */
}

.timeline .timeline-entry {
	--vertical-padding: 32px;
	--horizontal-padding: 16px;
	position: relative;
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.timeline .timeline-entry::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -24.25px; /* Position the dot on the line */
	transform: translateY(-50%);
	width: 12px; /* Dot size */
	aspect-ratio: 1;
	background-color: white; /* Dot color */
	border-radius: 50%; /* Make the dot a circle */
}
